.second-navigation {
    padding: 90px 0px;
    @media (max-width: 1024px){
        padding: 60px 0px;  
    }
    @media (max-width: 768px){
        padding: 40px 0px;  
    }
}

.second-navigation__row {
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: minmax(320px, 400px) minmax(170px, 200px) minmax(170px, 200px) minmax(250px, 300px);

    @media (max-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.second-navigation__column {
    display: flex;
    flex-direction: column;
}

.second-navigation__logo {
    max-width: 272px;
    margin: 0px 0px 30px 0px;
}

// .second-navigation__img {
// }

.second-navigation__text {
    max-width: 197px;
    color: #9a9a9a;
    margin: 0px 0px 30px 0px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
}

.second-navigation__logos {
    display: flex;

    & > li:not(:last-child) {
        margin: 0px 10px 0px 0px;
    }
}

.second-navigation__social {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #4e72d0;
    color: white;
}

.second-navigation__title {
    color: #4e72d0;
    line-height: 1.9;
    font-size: 23px;
    font-weight: 900;
}

.second-navigation__list {
    & >li:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
}

.second-navigation__link {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 5px 10px 10px;
    color: #223645;
    font-weight: 700;
    position: relative;
    transition: all 0.3 ease 0s;
    &:hover {
        color: #4e72d0;
        &::before {
            background-color: #4e72d0;
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 8px;
        height: 1.5px;
        background-color: #223645;
    }
}

.second-navigation__contacts {
    margin: 20px 0px 0px 0px;
    & > .second-navigation__contact:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}

.second-navigation__contact {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
    & > span {
        color: #5bc199;
    }
    & > a {
        color: #4e72d0;
        transition: all 0.3 ease 0s;
        &:hover {
            color: rgb(154, 154, 154);
        }
    }
}

.second-navigation__contact-address {
    color: #9a9a9a;
}
